{##}
<div id="footer" class="footer">
    <div class="container">
        {% if this.page.id == 'home' %}
            <div class="row">
                <div class="col-12 col-md">
                    <p>Photo by Seb Creativo on Unsplash</p>
                </div>
                <div class="col-12 col-md text-right">
                    <p>&copy; 2019 - {{ "now"|date("Y") }} aleksandrkrzhn.</p>
                </div>
            </div>
            {% else %}
            <p>&copy; 2019 - {{ "now"|date("Y") }} aleksandrkrzhn.</p>
        {% endif %}
    </div>
</div>
