{##}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/" rel="home">{{ this.theme.site_name }}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item {% if this.page.id == 'home' %} active {% endif %} ">
                    <a class="nav-link" href="{{ 'home'|page }}">Главная <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item {% if this.page.id == 'orders' %} active {% endif %} ">
                    <a class="nav-link" href="{{ 'orders'|page }}">Заказы</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                {% if user %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ 'account'|page }}">{{ user.name }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href data-request="onLogout" data-request-data="redirect: '/'">Выйти</a class="nav-item">
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ 'account'|page }}">Войти</a class="nav-item">
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
