{##}
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title h5" id="modal-label"></h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Закрыть">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body"></div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-contact" tabindex="-1" role="dialog" aria-labelledby="modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title h5" id="modal-contact-label">Обратная связь</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Закрыть">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="contact-form">
                    {{ form_token() }}

                    <div class="form-group required">
                        <label class="control-label" for="contact-form-name">Имя</label>
                        <input type="text" class="form-control form-control" id="contact-form-name" name="name" value="{{ user.name }}" required>
                    </div>

                    {% if not user %}
                        <div class="form-group required">
                            <label class="control-label" for="contact-form-email">Email</label>
                            <input type="text" class="form-control form-control" id="contact-form-email" name="email" required>
                        </div>
                    {% endif %}

                    <div class="form-group required">
                        <label class="control-label" for="contact-form-phone">Номер телефона</label>
                        <input type="text" class="form-control form-control" id="contact-form-phone" name="phone" value="{{ user.phone }}" required>
                    </div>

                    <button class="btn btn-primary" type="submit">Отправить</button>
                </form>
            </div>
        </div>
    </div>
</div>
