{##}
<a
    href="javascript:;"
    onclick="$('#accountDeactivateForm').toggle()">
    Деактивировать аккаунт
</a>

<div id="accountDeactivateForm" style="display: none">
    {{ form_ajax('onDeactivate') }}
        <hr />
        <h3>Деактивировать ваш аккаунт?</h3>
        <p>
            Ваш аккаунт будет отключен и ваши данные будут удалены с сайта.<br>
            Вы можете восстановить свой аккаунт в любой время авторизовавшись снова.
        </p>
        <div class="form-group">
            <label for="accountDeletePassword">Чтобы продолжить введите пароль:</label>
            <input name="password" type="password" class="form-control" id="accountDeletePassword" />
        </div>
        <button type="submit" class="btn btn-danger">
            Подтвердить деактивацию аккаунта
        </button>
        <a
            href="javascript:;"
            onclick="$('#accountDeactivateForm').toggle()">
            Я передумал
        </a>
    {{ form_close() }}
</div>
