{##}
{% if canRegister %}
    <h3>Регистрация</h3>

    {{ form_ajax('onRegister') }}

        <div class="form-group">
            <label for="registerName">Ваше имя</label>
            <input
                name="name"
                type="text"
                class="form-control"
                id="registerName"
                placeholder="Введите ваше имя"
                required />
        </div>

        <div class="form-group">
            <label for="registerEmail">Email</label>
            <input
                name="email"
                type="email"
                class="form-control"
                id="registerEmail"
                placeholder="Введите ваш email" />
        </div>

        {% if loginAttribute == "username" %}
            <div class="form-group">
                <label for="registerUsername">Логин</label>
                <input
                    name="username"
                    type="text"
                    class="form-control"
                    id="registerUsername"
                    placeholder="Введите ваш логин" />
            </div>
        {% endif %}

        <div class="form-group">
            <label for="registerPassword">Пароль</label>
            <input
                name="password"
                type="password"
                class="form-control"
                id="registerPassword"
                placeholder="Введите ваш пароль" />
        </div>

        <button type="submit" class="btn btn-primary">Зарегистрироваться</button>

    {{ form_close() }}
{% else %}
    <!-- Registration is disabled. -->
{% endif %}
