{##}
<h3>Войти</h3>

{{ form_ajax('onSignin') }}

    <div class="form-group">
        <label for="userSigninLogin">Email</label>
        <input
            name="login"
            type="text"
            class="form-control"
            id="userSigninLogin"
            placeholder="Введите ваш email" />
    </div>

    <div class="form-group">
        <label for="userSigninPassword">Пароль</label>
        <input
            name="password"
            type="password"
            class="form-control"
            id="userSigninPassword"
            placeholder="Введите ваш пароль" />
    </div>

    {% if rememberLoginMode == 'ask' %}
    <div class="form-group">
        <div class="checkbox">
        <label><input name="remember" type="checkbox" value="1">Запомнить</label>
        </div>
    </div>
    {% endif %}

    <button type="submit" class="btn btn-primary">Войти</button>

{{ form_close() }}
