
<form id="update-cargo-form"
        data-order-id="{{ (cargo is defined) ? cargo.order_id : order_id }}"
        {% if cargo is defined %}
        data-id="{{ cargo.id }}"
        {% endif %}
>
    <div class="form-group required">
        <label class="control-label" for="add-cargo-name">Название груза</label>
        <input type="text" class="form-control form-control-sm" id="add-cargo-name" name="name" value="{{ cargo.name }}" required autocomplete="off">
    </div>

    <div class="form-group">
        <label for="add-cargo-description">Описание</label>
        <textarea class="form-control form-control-sm" id="add-cargo-description" name="description">{{ cargo.description }}</textarea>
    </div>

    <div class="row">
        <div class="col col-md-6">
            <div class="form-group">
                <label for="add-cargo-weight">Вес</label>
                <div class="input-group input-group-sm">
                    <input type="number" class="form-control" id="add-cargo-weight" value="{{ cargo.weight }}" name="weight" min="0" step=".01">
                    <div class="input-group-append">
                        <div class="input-group-text">кг</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col col-md-6">
            <div class="form-group">
                <label for="add-cargo-volume">Объем</label>
                <div class="input-group input-group-sm">
                    <input type="number" class="form-control" id="add-cargo-volume" value="{{ cargo.volume }}" name="volume" min="0" step=".001">
                    <div class="input-group-append">
                        <div class="input-group-text">м<sup>3</sup></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="form-footer">
        {% if cargo is defined %}
            <button class="cargos__update btn btn-primary" type="submit">Редактировать груз</button>
        {% else %}
            <button class="cargos__create btn btn-primary" type="submit">Добавить груз</button>
        {% endif %}
    </div>
</form>

