{##}
<div class="cargos__item card">
    <div class="cargos__header card-header" id="heading-cargo-{{ loop_index }}">
        <h4 class="cargos__item-title h6">
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse-cargo-{{ loop_index }}" aria-expanded="{% if (loop_index == 0) %} true {% else %} false {% endif %}" aria-controls="collapse-cargo-{{ loop_index }}">
                {{ cargo.name }}
            </button>
        </h4>
        <div class="cargos__item-controls btn-group">
            {% if canUpdate %}
                <button class="cargos__get-form btn btn-sm btn-success" type="button" aria-label="Редактировать" data-id="{{ cargo.id }}">
                    <i class="fas fa-edit"></i>
                </button>
                <button class="cargos__delete btn btn-sm btn-danger" type="button" aria-label="Удалить" data-id="{{ cargo.id }}">
                    <i class="fas fa-trash-alt"></i>
                </button>
            {% endif %}
        </div>
    </div>

    <div id="collapse-cargo-{{ loop_index }}" class="collapse {% if (loop_index == 0) %} show {% endif %}" aria-labelledby="heading-cargo-{{ loop_index }}" data-parent="#cargosAccordion">
        <div class="card-body p-0">
            <table class="table">
                <tr {% if cargo.volume is empty %} hidden {% endif %}>
                    <th>Объем</th>
                    <td>{{ cargo.volume }}м<sup>3</sup></td>
                </tr>
                <tr {% if cargo.weight is empty %} hidden {% endif %}>
                    <th>Вес</th>
                    <td>{{ cargo.weight }} кг</td>
                </tr>
                <tr {% if cargo.description is empty %} hidden {% endif %}>
                    <th>Описание</th>
                    <td>{{ cargo.description }}</td>
                </tr>
                <tr class="cargos__images" {% if cargo.images is empty %} hidden {% endif %}>
                    {% for cargo_image in cargo.images %}
                        <a href="{{ cargo_image.path }}">
                            <img src="{{ cargo_image.thumb(300, auto) }}" alt="{{ cargo_image.description}}">
                        </a>
                    {% endfor %}
                </tr>
            </table>
            {% if (cargo.volume is empty) and (cargo.weight is empty) and (cargo.description is empty) and (cargo.images is empty) %}
                <p class="cargos__no-item-data">Нет дополнительных данных</p>
            {% endif %}
        </div>
    </div>
</div>
