description = "Default layout"

[session]
security = "all"
==
{##}
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <title>Octoportus - {{ this.page.title }}</title>
    <meta name="description" content="{{ this.page.meta_description }}">
    <meta name="title" content="{{ this.page.meta_title }}">
    <meta name="author" content="aleksandrkrzhn">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="generator" content="OctoberCMS">
    <!-- <link rel="icon" type="image/png" href="{{ 'assets/images/october.png'|theme }}"> -->
    <link href="{{ 'assets/css/style.css'|theme }}" rel="stylesheet">
    {% styles %}
  </head>
  <body class="page-{{ this.page.id }}">

    <!-- Header -->
    <header id="layout-header" class="layout-header">
      {% partial 'site/header' %}
    </header>

    <!-- Content -->
    <section id="layout-content" class="layout-content">
      {% page %}
    </section>

    <!-- Footer -->
    <footer id="layout-footer" class="layout-footer">
      {% partial 'site/footer' %}
    </footer>

    {% partial 'site/modals' %}

    <!-- Scripts -->
    <script src="{{ 'assets/js/manifest.js'|theme }}"></script>
    <script src="{{ 'assets/js/vendor.js'|theme }}"></script>
    <script src="{{ 'assets/js/main.js'|theme }}"></script>
    {% framework extras %}
    {% scripts %}

  </body>
</html>
