title = "Личный кабинет"
url = "/account/:code?"
layout = "default"
description = "Account page"
is_hidden = 0

[account]
redirect = "home"
paramCode = "code"
forceSecure = 0
==
{##}
{% if not user %}

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                {% partial "account/signin" %}
            </div>

            <div class="col-md-6">
                {% partial "account/register" %}
            </div>
        </div>
    </div>

{% else %}

    <div class="container">
        {% partial "account/activation_check" %}

        {% partial "account/update" %}

        <div class="mt-4 text-right">
            {% partial "account/deactivate_link" %}
        </div>
    </div>

{% endif %}
