title = "home"
url = "/"
layout = "default"
is_hidden = 0
==

function onSubmitContactForm()
{
    $isLoggedIn = Auth::check();

    if ($isLoggedIn) {
        throw new ApplicationException('Работает');
    }

    if (! $isLoggedIn) {
        $name = Input::get('name');
        $email = Input::get('email');
        $phone = Input::get('phone');

        Auth::registerGuest([
            'name' => $name,
            'email' => $email,
            'phone' => $phone,
        ]);
    }
}

==
{##}
<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">{{ this.theme.site_name }}</h1>
        <div class="lead">{{ this.theme.headline }}</div>
        <hr class="my-4">
        <p>{{ this.theme.hero_description }}</p>

        {% if user %}
            <a href="{{ url('/orders') }}" class="btn btn-primary">Мои заказы</a>
        {% else %}
            <a href="{{ url('/account') }}" class="btn btn-primary">Зарегистрироваться</a>
        {% endif %}

        {% if user %}
            <button class="callback-btn btn btn-link text-light" data-logged-in="true">Заказать обратный звонок</button>
        {% else %}
            <button class="callback-btn btn btn-link text-light">Заказать обратный звонок</button>
        {% endif %}
    </div>
</div>
