title = "Заказы"
url = "/orders/:page?"
layout = "default"
description = "Demonstration page with some published orders"
is_hidden = 0

[session]
security = "user"
redirect = "account"

[clientOrdersComponent]
orders = 10
==

use \Aleksandrkrzhn\Portus\Models\Order;
use \Aleksandrkrzhn\Portus\Helpers\OrderHelper;
use Illuminate\Support\Facades\Input;

function onCreateOrder()
{
    $order = Order::make([
        'user_id' => Auth::getUser()->id,
        'address_from' => Input::get('address_from'),
        'address_to' => Input::get('address_to'),
        'key' => Input::get('key'),
    ]);

    $order->save();

    return [
        'orderUrl' => url('order/' . $order->key),
    ];
}

function onDeleteOrder()
{
    $order = Order::find(Input::get('id'));

    if (is_null($order) || $order->user_id !== Auth::getUser()->id) {
        throw new ApplicationException('Переданный ID заявки не существует или не принадлежит пользователю');
    }

    $order->delete();
}

// Получить форму для создания заявки
function onGetOrderForm()
{
    return [
        'title' => 'Добавить заказ',
        'orderForm' => $this->renderPartial('order/order-form', [
            'key' => OrderHelper::generateKey(),
        ]),
    ];
}

==
{##}

<div class="container">
    <h1 class="title">Мои заказы</h1>
    <div class="orders list-group">
        {% for order in clientOrders %}
            {% partial 'order/orders-list-item' order=order %}
        {% else %}
            <p class="no-data">Вы еще не сделали ни одного заказа</p>
        {% endfor %}
    </div>
    <div class="text-right">
        <button class="orders__get-form btn btn-primary">Добавить новый заказ</button>
    </div>

    {% if clientOrders.total > 0 %}
        <ul class="pagination mt-4 justify-content-center">
            <li class="page-item {{ clientOrders.currentPage > 1 ? null : 'disabled' }}">
                <a class="page-link" href="{{ clientOrders.previousPageUrl }}">&larr; Предыдущая</a>
            </li>

            {% for pageNum in 1..clientOrders.lastPage %}
                <li class="page-item {{ clientOrders.currentPage == pageNum ? 'active' : null }}">
                    {% if (clientOrders.currentPage == pageNum) %}
                        <a class="page-link">{{ pageNum }}</a>
                    {% else %}
                        <a class="page-link" href="{{ clientOrders.url(pageNum) }}">{{ pageNum }}</a>
                    {% endif %}
                </li>
            {% endfor %}

            <li class="page-item {{ clientOrders.lastPage > clientOrders.currentPage ? null : 'disabled' }}">
                <a class="page-link" href="{{ clientOrders.nextPageUrl }}">Следующая &rarr;</a>
            </li>
        </ul>
    {% endif %}
</div>
