title = "Страница заказа"
url = "/order/:key"
layout = "default"
is_hidden = 0

[session]
security = "user"
redirect = "account"

[builderDetails]
modelClass = "Aleksandrkrzhn\Portus\Models\Order"
identifierValue = "{{ :key }}"
modelKeyColumn = "key"
displayColumn = "cargo_name"
notFoundMessage = "Заказ не найден"
==

use \Aleksandrkrzhn\Portus\Models\Cargo;
use \Aleksandrkrzhn\Portus\Models\Order;

function onCreateCargo()
{
    // Через фронт нельзя добавить груз, не прикрепив к заказу
    if (is_null(Input::get('order_id'))) {
        throw new ApplicationException('Некорректный order_id');
    }

    $weight = Input::get('weight');
    $volume = Input::get('volume');

    $cargo = Cargo::make([
        'order_id' => Input::get('order_id'),
        'name' => Input::get('name'),
        'description' => Input::get('description'),
        'weight' => empty($weight) ? null : $weight,
        'volume' => empty($volume) ? null : $volume,
    ]);

    $cargo->save();

    $this['cargo'] = $cargo;

    return [
        'cargoItem' => $this->renderPartial('cargo/cargos-list-item'),
    ];
}

function onDeleteCargo()
{
    $cargo = Cargo::find(Input::get('id'));

    if (is_null($cargo) || $cargo->user->id !== Auth::getUser()->id) {
        throw new ApplicationException('Переданный ID груза не существует или не принадлежит пользователю');
    }

    $cargo->delete();
}

function onUpdateCargo()
{
    $cargo = Cargo::find(Input::get('id'));

    if (is_null($cargo) || $cargo->user->id !== Auth::getUser()->id) {
        throw new ApplicationException('Переданный ID заявки не существует или не принадлежит пользователю');
    }

    $weight = Input::get('weight');
    $volume = Input::get('volume');

    $cargo->name = Input::get('name');
    $cargo->description = Input::get('description');
    $cargo->weight = empty($weight) ? null : $weight;
    $cargo->volume = empty($volume) ? null : $volume;

    $cargo->save();

    return [
        'cargoItem' => $this->renderPartial('cargo/cargos-list-item', [
            'cargo' => $cargo,
        ]),
    ];
}

// Контент модалки с формой для создания/редактирования
function onGetCargoForm()
{
    $cargoId = Input::get('id');
    $isUpdate = ! is_null($cargoId);

    if ($isUpdate) {
        $cargo = Cargo::find($cargoId);

        if (is_null($cargo) || $cargo->user->id !== Auth::getUser()->id) {
            throw new ApplicationException('Переданный ID заявки не существует или не принадлежит пользователю');
        }

        $this['cargo'] = $cargo;
    }

    // При создании нужен ID заявки, чтобы привязать груз
    if (! $isUpdate) {
        $order = Order::find(Input::get('order_id'));

        if (is_null($order)) {
            throw new ApplicationException('Передан некорректный ID заявки');
        }

        if ($order->user_id !== Auth::getUser()->id) {
            throw new ApplicationException('Переданный ID заявки не принадлежит пользователю');
        }
    }

    return [
        'title' => $isUpdate ? 'Редактировать груз' : 'Добавить груз',
        'cargoForm' => $this->renderPartial('cargo/cargo-form', [
            'order_id' => Input::get('order_id'),
        ]),
    ];
}

function onGetOrderForm()
{
    $order = Order::find(Input::get('id'));

    if (is_null($order) || $order->user_id !== Auth::getUser()->id) {
        return; // Заявка не найдена или не принадлежит пользователю
    }

    return [
        'title' => 'Редактировать заказ',
        'orderForm' => $this->renderPartial('order/order-form', [
            'order' => $order,
        ]),
    ];
}

function onUpdateOrder()
{
    $order = Order::find(Input::get('id'));

    if (is_null($order) || $order->user_id !== Auth::getUser()->id) {
        return; // Заявка не найдена или не принадлежит пользователю
    }

    $order->address_from = Input::get('address_from');
    $order->address_to = Input::get('address_to');

    $order->save();

    return [
        'address_from' => Input::get('address_from'),
        'address_to' => Input::get('address_to'),
    ];
}

==
{##}
{% set order = builderDetails.record %}
{% set displayColumn = builderDetails.displayColumn %}
{% set notFoundMessage = builderDetails.notFoundMessage %}

<div class="order container">
    {% if order %}
        <h1 class="title">Заявка {{ order.key }}</h1>

        <section class="order__info">
            <h2 class="title-2">
                Общая информация
                {% if order.hasPendingStatus %}
                    <button class="get-order-form btn btn-sm btn-secondary" type="button" aria-label="Редактировать основную информацию" data-id="{{ order.id }}">
                        <i class="fas fa-edit"></i>
                    </button>
                {% endif %}
            </h2>
            <table class="table order__info">
                <tr>
                    <th>Статус заявки</th>
                    <td>{{ order.status }}</td>
                </tr>
                <tr>
                    <th>Адрес отправителя</th>
                    <td class="order__address-from">{{ order.address_from }}</td>
                </tr>
                <tr>
                    <th>Адрес получателя</th>
                    <td class="order__address-to">{{ order.address_to }}</td>
                </tr>
                <tr {% if order.total_cost is empty %} hidden {% endif %}>
                    <th>Стоимость</th>
                    <td>$ {{ order.total_cost|number_format(2) }}</td>
                </tr>
                <tr {% if order.delivery_date is empty %} hidden {% endif %}>
                    <th>Дата доставки</th>
                    <td>{{ order.delivery_date|date('h:m d.m.Y') }}</td>
                </tr>
                <tr>
                    <th>Дата создания заявки</th>
                    <td>{{ order.created_at|date('h:m d.m.Y') }}</td>
                </tr>
            </table>
        </section>

        <div class="row">
            <section class="cargos col-12 col-md-6">
                <h2 class="title-2">Грузы</h2>
                <div class="cargos__list accordion mb-4" id="cargosAccordion">
                    {% for cargo in order.cargo %}
                        {% partial 'cargo/cargos-list-item' cargo=cargo loop_index=loop.index canUpdate=order.hasPendingStatus %}
                    {% endfor %}

                    {% if order.cargo is empty %}
                        <p class="cargos__no-data">Вы еще не добавили ни одного груза</p>
                    {% else %}
                        <p class="cargos__no-data" style="display:none">Вы еще не добавили ни одного груза</p>
                    {% endif %}
                </div>

                {% if order.hasPendingStatus %}
                    <button class="cargos__get-form btn btn-secondary" data-order-id="{{ order.id }}">Добавить груз</button>
                {% endif %}
            </section>
            <section class="col-12 col-md-6">
                <h2 class="title-2">Этапы доставки</h2>
                <ul class="stages list-group">
                    {% for stage in order.stages %}
                        {% if not stage.done %}
                            {% set isActiveStage = order.hasInProgressStatus and loop.last %}
                        {% endif %}
                        <li class="stage {{ isActiveStage ? 'stage--active' : null }} list-group-item">
                            <span>
                                {{ stage.name }}
                                {% if isActiveStage %} <small class="note text-muted"> | Текущий этап</small> {% endif %}
                            </span>
                            {% if stage.date %}
                                <small><time>{{ stage.date|date('d.m.Y h:m') }}</time></small>
                            {% endif %}
                        </li>
                    {% else %}
                        <p>Здесь будут показаны этапы доставки</p>
                    {% endfor %}
                </ul>
            </section>
        </div>

        <p>{{ order.cargo_description|raw }}</p>
    {% else %}
        {{ notFoundMessage }}
    {% endif %}
</div>
