<div class="orders__item orders-item list-group-item">
    <h3 class="h5 d-inline-block mr-5 mb-0">{{ order.key }}</h3>
    <span class="mr-5"><b>Статус заказа</b>: {{ order.status }}</span>
    <span><b>Дата создания</b>: {{ order.created_at|date('d.m.Y') }}</span>

    <div class="orders-item__controls btn-group">
        <a href="{{ url('order', order.key) }}" class="btn btn-sm btn-success" aria-label="Открыть">
            <i class="fas fa-external-link-alt"></i>
        </a>
        {% if order.hasPendingStatus %}
            <button class="orders__delete btn btn-sm btn-danger" type="button" aria-label="Удалить" data-id="{{ order.id }}">
                <i class="fas fa-trash-alt"></i>
            </button>
        {% endif %}
    </div>
</div>
