
<form id="update-order-form"
      {% if order is defined %}
        data-id="{{ order.id }}"
      {% endif %}
      data-key="{{ key ?? order.key }}"
>
    {{ form_token() }}
    <div class="form-group required">
        <label for="update-order-address-from">Адрес отправления</label>
        <input type="text" class="form-control" id="update-order-address-from" value="{{ order.address_from }}" name="address_from">
    </div>
    <div class="form-group required">
        <label for="update-order-address-to">Адрес доставки</label>
        <input type="text" class="form-control" id="update-order-address-to" value="{{ order.address_to }}" name="address_to">
    </div>

    <div class="form-footer">
        {% if order is defined %}
            <button class="order-update btn btn-primary" type="submit">Редактировать груз</button>
        {% else %}
            <button class="order-create btn btn-primary" type="submit">Добавить груз</button>
        {% endif %}
    </div>
</form>

