@import 'variables';

// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
  font-size: ($sizeValue * 16) * 1px;
  font-size: $sizeValue * 1rem;
}

// Center block
@mixin center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

// Clearfix
@mixin clearfix() {
  content: "";
  display: table;
  table-layout: fixed;
}

// Clear after (not all clearfix need this also)
@mixin clearfix-after() {
  clear: both;
}

@mixin reset-btn() {
  display: inline-block;
  margin: 0;
  padding: 0;

  font: inherit;
  line-height: 1;
  letter-spacing: inherit;
  text-align: center;
  color: inherit;

  background: none;
  border: none;

  #{$hover} {
    //background: none;
    border: none;
  }
}

@mixin reset-list() {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin reset-link {
  color: inherit;
  text-decoration: none;
  border: 0;

  &:link,
  &:visited,
  &:hover,
  &:focus,
  &:active {
    color: inherit;
  }
}

@mixin set-active-color($active_clr) {
  &:hover,
  &:focus,
  &:active {
    color: $active_clr;
    text-decoration: transparent;
  }
}

// Set colors for link
@mixin set-link-color($clr, $active_clr: false) {
  color: $clr;
  text-decoration-color: $clr;

  transition-property: color, text-decoration-color;
  transition-duration: 0.1s;

  &:link,
  &:visited {
    color: $clr;
    text-decoration-color: $clr;
  }

  @if $active_clr {
    @include set-active-color($active_clr);
  } @else {
    @include set-active-color($clr);
  }
}

@mixin screen-reader-text($focusable: true) {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */

  @if $focusable {
    &:focus {
      background-color: #f1f1f1;
      border-radius: 3px;
      box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
      clip: auto !important;
      clip-path: none;
      color: #21759b;
      display: block;
      @include font-size(0.875);
      font-weight: bold;
      height: auto;
      left: 5px;
      line-height: normal;
      padding: 15px 23px 14px;
      text-decoration: none;
      top: 5px;
      width: auto;
      z-index: 100000; /* Above WP toolbar. */
    }
  }
}
@mixin overlay {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
}

@mixin pseudo-underlay($pos: 'before') {
  position: relative;
  z-index: 0;

  @if $pos == 'after' {
    &::after {
      content: '';
      z-index: -1;

      @include overlay;
      @content;
    }
  } @else {
    &::before {
      content: '';
      z-index: -1;

      @include overlay;
      @content;
    }
  }
}

// Remove bottom bottom of last item
@mixin last-mb0() {
  &:last-child {
    margin-bottom: 0;
  }
}

@mixin last-mr0() {
  &:last-child {
    margin-right: 0;
  }
}

/// Creates a CSS triangle, which can be used for dropdown arrows, dropdown pips, and more. Use this mixin inside a `&::before` or `&::after` selector, to attach the triangle to an existing element.
///
/// @param {Number} $triangle-size - Width of the triangle.
/// @param {Color} $triangle-color - Color of the triangle.
/// @param {Keyword} $triangle-direction - Direction the triangle points. Can be `up`, `right`, `down`, or `left`.
@mixin css-triangle(
  $triangle-size,
  $triangle-color,
  $triangle-direction
) {
  display: block;
  width: 0;
  height: 0;

  border: inset $triangle-size;

  content: '';

  @if ($triangle-direction == down) {
    border-bottom-width: 0;
    border-top-style: solid;
    border-color: $triangle-color transparent transparent;
  }
  @if ($triangle-direction == up) {
    border-top-width: 0;
    border-bottom-style: solid;
    border-color: transparent transparent $triangle-color;
  }
  @if ($triangle-direction == right) {
    border-right-width: 0;
    border-left-style: solid;
    border-color: transparent transparent transparent $triangle-color;
  }
  @if ($triangle-direction == left) {
    border-left-width: 0;
    border-right-style: solid;
    border-color: transparent $triangle-color transparent transparent;
  }
}

/// Creates a menu icon with a set width, height, number of bars, and colors. The mixin uses the height of the icon and the weight of the bars to determine spacing. <div class="docs-example-burger"></div>
///
/// @param {Color} $color [$black] - Color to use for the icon.
/// @param {Color} $color-hover [$dark-gray] - Color to use when the icon is hovered over.
/// @param {Number} $width [20px] - Width of the icon.
/// @param {Number} $height [16px] - Height of the icon.
/// @param {Number} $weight [2px] - Height of individual bars in the icon.
/// @param {Number} $bars [3] - Number of bars in the icon.
@mixin hamburger(
  $color: black,
  $color-hover: darkgray,
  $width: 20px,
  $height: 16px,
  $weight: 2px,
  $bars: 3
) {
  // box-shadow CSS output
  $shadow: ();
  $hover-shadow: ();

  // Spacing between bars is calculated based on the total height of the icon and the weight of each bar
  $spacing: ($height - ($weight * $bars)) / ($bars - 1);

  @if unit($spacing) == 'px' {
    $spacing: floor($spacing);
  }

  @for $i from 2 through $bars {
    $offset: ($weight + $spacing) * ($i - 1);
    $shadow: append($shadow, 0 $offset 0 $color, comma);
  }

  // Icon container
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: $width;
  height: $height;
  cursor: pointer;

  // Icon bars
  &::after {
    position: absolute;
    top: 0;
    left: 0;

    display: block;
    width: 100%;
    height: $weight;

    background: $color;
    box-shadow: $shadow;

    content: '';
  }

  // Hover state
  @if $color-hover {
    // Generate CSS
    @for $i from 2 through $bars {
      $offset: ($weight + $spacing) * ($i - 1);
      $hover-shadow: append($hover-shadow, 0 $offset 0 $color-hover, comma);
    }

    &:hover::after {
      background: $color-hover;
      box-shadow: $hover-shadow;
    }
  }
}

/// Vertically centers the element inside of its first non-static parent,
/// @link http://www.sitepoint.com/centering-with-sass/ Centering With Sass
@mixin vertical-center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

/// Horizontally centers the element inside of its first non-static parent,
/// @link http://www.sitepoint.com/centering-with-sass/ Centering With Sass
@mixin horizontal-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

/// Absolutely centers the element inside of its first non-static parent,
/// @link http://www.sitepoint.com/centering-with-sass/ Centering With Sass
@mixin absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin reset-btns-outline {
  button,
  input[type="button"],
  input[type="reset"],
  input[type="submit"] {
    #{$hover} {
      outline: none;
    }
  }
}

@mixin hover() {
  &:hover,
  &:focus,
  &:active {
    @content
  }
}

@mixin flip-horizontally {
  transform: scaleX(-1);
  filter: fliph; /*IE*/
}

@mixin flip-vertically {
  transform: scaleY(-1);
}

@mixin prevent-margin-collapse {
  &::before,
  &::after {
    content: ' ';
    display: table;
  }
}

@mixin centerer($padding: false) {
  max-width: $size__site-mw;

  @if $padding == true {
    width: 100%;
    padding-left: $size__site-margin--m;
    padding-right: $size__site-margin--m;

    @include media(tablet) {
      padding-left: $size__site-margin--t;
      padding-right: $size__site-margin--t;
    }

    @include media(desktop) {
      margin-left: auto;
      margin-right: auto;
      padding-left: $size__site-margin--d;
      padding-right: $size__site-margin--d;
    }
  } @else {
    width: auto;
    margin-left: $size__site-margin--m;
    margin-right: $size__site-margin--m;

    @include media(tablet) {
      margin-left: $size__site-margin--t;
      margin-right: $size__site-margin--t;
    }

    @include media(desktop) {
      margin-left: auto;
      margin-right: auto;
    }
  }
}

// Media of at least the minimum breakpoint width. No query for the smallest breakpoint.
// Makes the @content apply to the given breakpoint and wider.
@mixin media-up($name, $breakpoints: $grid-breakpoints) {
    @include media-breakpoint-up($name, $breakpoints) {
        @content;
    };
}

// Media of at most the maximum breakpoint width. No query for the largest breakpoint.
// Makes the @content apply to the given breakpoint and narrower.
@mixin media-down($name, $breakpoints: $grid-breakpoints) {
    @include media-breakpoint-down($name, $breakpoints) {
        @content;
    };
}

// Media that spans multiple breakpoint widths.
// Makes the @content apply between the min and max breakpoints
@mixin media-between($lower, $upper, $breakpoints: $grid-breakpoints) {
    @include media-breakpoint-between($lower, $upper, $breakpoints) {
        @content;
    };
}

// Media between the breakpoint's minimum and maximum widths.
// No minimum for the smallest breakpoint, and no maximum for the largest one.
// Makes the @content apply only to the given breakpoint, not viewports any wider or narrower.
@mixin media-only($name, $breakpoints) {
    @include media-breakpoint-only($name, $breakpoints: $grid-breakpoints) {
        @content;
    };
}
