$color__bg-body: #fff;
$color__bg-btn: #e6e6e6;

$color__text-main: #404040;



$font__main: Arial, Helvetica, sans-serif;
$font__titles: "Times New Roman", "Bitstream Charter", Times, serif;
$font__lh: 1.5;



$hover: '&:hover, &:focus, &:active';


// bp - breakpoint
$size__tablet-bp: 768px;
$size__desktop-bp: 1200px;

$size__site-margin--m: 20px; // --m - mobile
$size__site-margin--t: 20px; // --t - tablet
$size__site-margin--d: 20px; // --d - desktop

$size__site-mw: 1140px;

// h - height
// $size__navbar-h--m: ;
// $size__navbar-h--t: ;
// $size__navbar-h--d: ;



$retina__dpi: '(min-resolution: 144dpi)';
$retina__dppx: '(min-resolution: 1.5dppx)';




/* --- bootstrap settings --- */

$font-family-sans-serif: 'Roboto', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";


$border-radius: .15rem;
$border-radius-lg: .2rem;
$border-radius-sm: .1rem;


$gray-100: #F5F5F5 !default;
$gray-200: #EEEEEE !default;
$gray-300: #E0E0E0 !default;
$gray-400: #BDBDBD !default;
$gray-500: #9E9E9E !default;
$gray-600: #757575 !default;
$gray-700: #616161 !default;
$gray-800: #424242 !default;
$gray-900: #212121 !default;

$blue:    #455A64;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #D32F2F;
$orange:  #fd7e14 !default;
$yellow:  #FFEB3B !default;
$green:   #2E7D32;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;


$modal-inner-padding: 20px 30px 40px;
$modal-header-padding: 16px 22px 10px 30px;


$label-margin-bottom: .3rem;
