@import "variables";
@import "mixins";

@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i&display=swap&subset=cyrillic');



@import '~@fortawesome/fontawesome-free/scss/fontawesome';

$fa-font-path: '/themes/octoportus/assets/fonts/vendor/@fortawesome/fontawesome-free';

@font-face {
    font-family: 'Font Awesome 5 Free';
    font-style: normal;
    font-weight: 900;
    font-display: 'auto';
    src: url('#{$fa-font-path}/webfa-solid-900.eot');
    src: url('#{$fa-font-path}/webfa-solid-900.eot?#iefix') format('embedded-opentype'),
    url('#{$fa-font-path}/webfa-solid-900.woff2') format('woff2'),
    url('#{$fa-font-path}/webfa-solid-900.woff') format('woff'),
    url('#{$fa-font-path}/webfa-solid-900.ttf') format('truetype'),
    url('#{$fa-font-path}/webfa-solid-900.svg#fontawesome') format('svg');
}

.fa,
.fas {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
}



@import '~bootstrap/scss/bootstrap';


// *,
// *::before,
// *::after {
//   box-sizing: border-box;
// }

// img {
//   max-width: 100%;
//   height: auto;
// }

p {
  margin-top: 0;
  @include last-mb0;
}

// .hidden {
//   display: none !important;
// }

// .centerer {
//   @include centerer;
// }

// Sticky footer
html,
body {
    height: 100%;
    display: flex;
    flex-direction: column;
}
.layout-content {
    flex: 1 0 auto;
}
.layout-footer {
    flex-shrink: 0;
}

body:not(.page-home) .layout-content {
    padding-top: 60px;
    padding-bottom: 80px;
}

.order__info {
    margin-bottom: 40px;

    @include media-up(md) {
        margin-bottom: 60px;
    }
}

.cargos__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cargos__item-title {
    margin-bottom: 0;
    line-height: 1;

    .btn {
        padding: 0;
        font-size: inherit;
    }
}

.cargos__item-options {
    .btn {
        min-width: 32px;
    }
}

.cargos__item .cargos__no-data {
    padding-left: 20px;
}

.cargos__no-item-data {
    padding: 0 20px 10px;
}

.form-footer {
    margin-top: 4px;
    text-align: right;

    @include media-up(sm) {
        margin-top: 10px;
    }
}

.form-group.required .control-label::after {
    content: "*";
    color: $red;
}

.orders {
    margin-bottom: 20px;
}

.orders-item {
    position: relative;
    z-index: 0; // Контекст

    display: flex;
    align-items: center;
}

.orders-item__link {
    @include reset-link;
    width: 100%;
    height: 100%;
}

.orders-item__controls {
    position: absolute;
    top: 50%;
    right: 1.25rem; // Как паддинг на десктопе
    transform: translateY(-50%);
    z-index: 1; // Поверх самого элемента
}

.page-home .jumbotron {
    @include pseudo-underlay {
        background-color: rgba($gray-800, .4);
    }

    min-height: calc(100vh - 2 * 56px);
    margin-bottom: 0;

    color: white;
    background-image: url('/themes/octoportus/assets/images/truck.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    hr {
        border-color: white;
    }
}

.footer {
    display: flex;
    align-items: center;
    min-height: 56px;
    padding: 0.5rem 1rem;

    color: $gray-500;
    background-color: $gray-800;
}

.title {
    margin-bottom: 40px;

    @include media-up(md) {
        margin-bottom: 60px;
    }
}

.title-2 {
    margin-bottom: 30px;

    @include media-up(md) {
        margin-bottom: 40px;
    }
}

.page-item.disabled {
    opacity: .6;
}

.stage {
    display: flex;
    align-items: baseline;
    justify-content: space-between;

    &--active {
        background-color: #E8F5E9;
    }
}
